<form [formGroup]="resourceForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Add Boundary Drop Point</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Enter Boundary Drop Point" formControlName="name">
              <mat-error *ngIf="resourceForm.controls['name'].hasError('required')">
                Boundary Drop Point is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

               
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [class.spinner]="loading" [disabled]="!resourceForm.valid">Submit</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </form>
  



