<form [formGroup]="resetPasswordForm" novalidate (ngSubmit)="resetPassword()">
  <mat-card class="shipping-card">
      <mat-card-header>
          <mat-card-title>Reset Password</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
              <mat-form-field class="full-width">
                  <input matInput type="password" placeholder="Enter Cuurent Password" formControlName="currentsecret">
                  <mat-error *ngIf="resetPasswordForm.controls['currentsecret'].hasError('required')">
                      Current Password is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
          </div>
      </div>
          <div class="row">
              <div class="col">
                  <mat-form-field class="full-width">
                      <input matInput type="password" placeholder="Enter New Password" formControlName="newsecret">
                      <mat-error *ngIf="resetPasswordForm.controls['newsecret'].hasError('required')">
                          New Password is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <mat-form-field class="full-width">
                      <input matInput type="password" placeholder="Enter Confirm Password" formControlName="confirmsecret">
                      <mat-error *ngIf="resetPasswordForm.controls['confirmsecret'].hasError('required')">
                          Confirm Password is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
              </div>
          </div>
         

      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button color="primary" type="submit"
              [disabled]="!resetPasswordForm.valid">Submit</button>
          <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </mat-card-actions>
  </mat-card>
</form>