<div fxLayoutGap="5px" class="divBodyContainer">
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
        <ng-container>
          <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
            <div fxFlex="60%" fxFlex.lt-md="100"><strong>Name of the Upper Tank:</strong></div>
            <div fxFlex="40%" fxFlex.lt-md="100">{{upperTankSluice?.nameOfUpperTank}}</div>
          </div>
  
          <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
            <div fxFlex="60%" fxFlex.lt-md="100"><strong>Season - Start:</strong></div>
            <div fxFlex="40%" fxFlex.lt-md="100">{{upperTankSluice?.contriStart}}</div>
          </div>
  
          <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
            <div fxFlex="60%" fxFlex.lt-md="100"><strong>Season - End:</strong></div>
            <div fxFlex="40%" fxFlex.lt-md="100">{{upperTankSluice?.contriEnd}}</div>
          </div>
  
         
        </ng-container>
  
      </div>

    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
      <ng-container>
        <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
          <div fxFlex="60%" fxFlex.lt-md="100"><strong>% of Source Contribution:</strong></div>
          <div fxFlex="40%" fxFlex.lt-md="100">{{upperTankSluice?.percentageOfContri}}</div>
        </div>

        <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
          <div fxFlex="60%" fxFlex.lt-md="100"><strong>Type of cross section of stream:</strong></div>
          <div fxFlex="40%" fxFlex.lt-md="100">{{upperTankSluice?.typeOfCross}}</div>
        </div>
       
      </ng-container>

    </div>
    
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
      <ng-container>
        <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
            <div fxFlex="60%" fxFlex.lt-md="100"><strong>Head Top width of sluice feed in m:</strong></div>
            <div fxFlex="40%" fxFlex.lt-md="100">{{upperTankSluice?.headTopWidth}}</div>
          </div>
  
          <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
            <div fxFlex="60%" fxFlex.lt-md="100"><strong>Head Bed width of sluice feed in m:</strong></div>
            <div fxFlex="40%" fxFlex.lt-md="100">{{upperTankSluice?.headBed}}</div>
          </div>

        <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
          <div fxFlex="60%" fxFlex.lt-md="100"><strong>Head Depth of sluice feed in m:</strong></div>
          <div fxFlex="40%" fxFlex.lt-md="100">{{upperTankSluice?.headDepth}}</div>
        </div>
      </ng-container>

    </div>
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
        <ng-container>
          <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
              <div fxFlex="60%" fxFlex.lt-md="100"><strong>Middle Top width of sluice feed in m:</strong></div>
              <div fxFlex="40%" fxFlex.lt-md="100">{{upperTankSluice?.middleTopWidth}}</div>
            </div>
    
            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
              <div fxFlex="60%" fxFlex.lt-md="100"><strong>Middle Bed width of sluice feed in m:</strong></div>
              <div fxFlex="40%" fxFlex.lt-md="100">{{upperTankSluice?.middleBed}}</div>
            </div>
  
          <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
            <div fxFlex="60%" fxFlex.lt-md="100"><strong>Middle Depth of sluice feed in m:</strong></div>
            <div fxFlex="40%" fxFlex.lt-md="100">{{upperTankSluice?.middleDepth}}</div>
          </div>
        </ng-container>
  
      </div>

      <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
        <ng-container>
          <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
              <div fxFlex="60%" fxFlex.lt-md="100"><strong>Tail Top width of sluice feed in m:</strong></div>
              <div fxFlex="40%" fxFlex.lt-md="100">{{upperTankSluice?.tailTopWidth}}</div>
            </div>
    
            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
              <div fxFlex="60%" fxFlex.lt-md="100"><strong>Tail Bed width of sluice feed in m:</strong></div>
              <div fxFlex="40%" fxFlex.lt-md="100">{{upperTankSluice?.tailBed}}</div>
            </div>
  
          <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
            <div fxFlex="60%" fxFlex.lt-md="100"><strong>Tail Depth of sluice feed in m:</strong></div>
            <div fxFlex="40%" fxFlex.lt-md="100">{{upperTankSluice?.tailDepth}}</div>
          </div>
        </ng-container>
  
      </div>
  
  
      <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
        <ng-container>
  
          <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
              <div fxFlex="35%" fxFlex.lt-md="100"><strong>Issues in sluice feed:</strong></div>
              <div fxFlex="65%" fxFlex.lt-md="100">
                <!-- <mat-list *ngFor="let issue of streamIssues">
                  <mat-list-item>{{issue}}</mat-list-item>
                </mat-list> -->
                <mat-chip-list aria-label="streamIssues">
                  <mat-chip selected color="primary" *ngFor="let issue of streamIssues">
                      {{issue}}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
         
        </ng-container>
  
      </div>


  </div>

