<div fxLayoutGap="5px" class="divBodyContainer">
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
        <ng-container>
            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
                <div fxFlex="50%" fxFlex.lt-md="100"><strong>Name of the Subsurface flow:</strong></div>
                <div fxFlex="50%" fxFlex.lt-md="100">{{subsurfaceFlow?.natureOfSubsurface}}</div>
            </div>

            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column" *ngIf="subsurfaceFlow?.contriStart">
                <div fxFlex="50%" fxFlex.lt-md="100"><strong>Source Contribution - Start:</strong></div>
                <div fxFlex="50%" fxFlex.lt-md="100">{{subsurfaceFlow?.contriStart}}</div>
            </div>

            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column" *ngIf="subsurfaceFlow?.contriEnd">
                <div fxFlex="50%" fxFlex.lt-md="100"><strong>Source Contribution - End:</strong></div>
                <div fxFlex="50%" fxFlex.lt-md="100">{{subsurfaceFlow?.contriEnd}}</div>
            </div>


        </ng-container>

    </div>
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
        <ng-container>


            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
                <div fxFlex="50%" fxFlex.lt-md="100"><strong>% of Source Contribution:</strong></div>
                <div fxFlex="50%" fxFlex.lt-md="100">{{subsurfaceFlow?.percentageOfContri}}</div>
            </div>

        </ng-container>

    </div>

</div>