<div fxLayoutGap="5px" class="divBodyContainer">
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
        <ng-container>
            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
                <div fxFlex="50%" fxFlex.lt-md="100"><strong>Year of last renovation:</strong></div>
                <div fxFlex="50%" fxFlex.lt-md="100">{{renovationDetail?.yearOfRenovation}}</div>
            </div>

            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
                <div fxFlex="50%" fxFlex.lt-md="100"><strong>Name of scheme of renovation:</strong></div>
                <div fxFlex="50%" fxFlex.lt-md="100">{{renovationDetail?.nameOfRenovationScheme}}</div>
            </div>

            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
                <div fxFlex="50%" fxFlex.lt-md="100"><strong>Amount Spent in Rupees:</strong></div>
                <div fxFlex="50%" fxFlex.lt-md="100">{{renovationDetail?.amountSpent}}</div>
            </div>
            
            

        </ng-container>

    </div>

    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
        <ng-container>
            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
                <div fxFlex="40%" fxFlex.lt-md="100"><strong>Activites undertaken:</strong></div>
                <div fxFlex="60%" fxFlex.lt-md="100">
                    <mat-chip-list aria-label="activites">
                        <mat-chip selected color="primary" *ngFor="let activity of activites">
                            {{activity}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
                
                
            </div>
            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
                <div fxFlex="50%" fxFlex.lt-md="100"><strong>Any Other:</strong></div>
                <div fxFlex="50%" fxFlex.lt-md="100">{{ renovationDetail?.otherActivityDesc || 'NA' }}</div>
            </div>
        </ng-container>

    </div>
   
</div>
<ng-template #noContent>NA</ng-template>

