<div fxLayoutGap="5px" class="divBodyContainer">
<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <ng-container>
        <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
            <div fxFlex="50%" fxFlex.lt-md="100"><strong>Type of Surplus Weir:</strong></div>
            <div fxFlex="50%" fxFlex.lt-md="100">{{surplusWeirDetail?.typeOfSurplusWeir}}</div>
        </div>

        <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
            <div fxFlex="50%" fxFlex.lt-md="100"><strong>Length of Surplus Weir in m:</strong></div>
            <div fxFlex="50%" fxFlex.lt-md="100">{{surplusWeirDetail?.lengthOfSurplusWeir}}</div>
        </div>

        <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
            <div fxFlex="50%" fxFlex.lt-md="100"><strong>FTL of weir in m:</strong></div>
            <div fxFlex="50%" fxFlex.lt-md="100">{{surplusWeirDetail?.FTLofWeir}}</div>
        </div>

    </ng-container>

</div>

<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <ng-container>

        <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
            <div fxFlex="50%" fxFlex.lt-md="100"><strong>MWL of weir in m:</strong></div>
            <div fxFlex="50%" fxFlex.lt-md="100">{{surplusWeirDetail?.MWLofWeir}}</div>
        </div>

        <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
            <div fxFlex="50%" fxFlex.lt-md="100"><strong>Dam Stone:</strong></div>
            <div fxFlex="50%" fxFlex.lt-md="100">{{surplusWeirDetail?.damStones}}</div>
        </div>

        <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
            <div fxFlex="50%" fxFlex.lt-md="100"><strong>Type of Shutter:</strong></div>
            <div fxFlex="50%" fxFlex.lt-md="100">{{surplusWeirDetail?.typeOfShutter}}</div>
        </div>

    </ng-container>

</div>
<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <ng-container>
        <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
            <div fxFlex="50%" fxFlex.lt-md="100"><strong>Present condition of Surplus Weir:</strong></div>
            <div fxFlex="50%" fxFlex.lt-md="100">{{surplusWeirDetail?.conditionOfSurplusWeir}}</div>
        </div>

        <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
            <div fxFlex="50%" fxFlex.lt-md="100"><strong>Head Over Crest in m:</strong></div>
            <div fxFlex="50%" fxFlex.lt-md="100">{{surplusWeirDetail?.headOverCrest}}</div>
        </div>

        <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
            <div fxFlex="50%" fxFlex.lt-md="100"><strong>Discharging Capacity in cusec:</strong></div>
            <div fxFlex="50%" fxFlex.lt-md="100">{{surplusWeirDetail?.dischargingCapacity}}</div>
        </div>

    </ng-container>

</div>
</div>