Admin works
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- header.component.html -->
<div class="head">
    <h1 class="example-app-name">
      <img src="assets/images/blue1.png" alt="Logo" class="logo">
      <span class="water-text">Water</span> DaMS
    </h1>
  </div>
  
        <span style="flex: 1 1 auto;"></span>
        <div>
            <button mat-icon-button matTooltip="Notifications">
                <mat-icon>notifications</mat-icon>
            </button>
            <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="accountMenu">
                <mat-icon>apps</mat-icon>
            </button>
            <mat-menu #accountMenu [overlapTrigger]="false" yPosition="below">
                <button mat-menu-item routerLink="#">
                    <mat-icon>person</mat-icon><span>My Account</span>
                </button>
                <button mat-menu-item>

                    <mat-list-item routerLink="/user/resetpassword">
                        <mat-icon>change_circle</mat-icon><span>Reset Password</span>
                    </mat-list-item>
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="signOut()">
                    <mat-icon>exit_to_app</mat-icon>Logout
                </button>
            </mat-menu>
        </div>
        <ng-template #loading>
            Loading stuff...
        </ng-template>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list dense>
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar id="profile" [class.avatar-open]="isMenuOpen"
                            [class.avatar-close]="!isMenuOpen">

                        </div>
                        <div>
                            <mat-card-title>{{ user.username}}</mat-card-title>
                        </div>

                    </mat-card-header>
                </mat-card>
                <mat-list-item routerLink="/admin/dashboard">
                    <mat-icon>dashboard</mat-icon>
                    <span style="font-size:15px;font-weight: 400;font-family: Roboto, Helvetica Neue, sans-serif;">
                        Dashboard
                    </span>
                </mat-list-item>
                <mat-expansion-panel [class.mat-elevation-z0]="true" dense
                    *appIsGranted="['MasterDataManagement', 'List']">
                    <mat-expansion-panel-header>
                        Master Data
                    </mat-expansion-panel-header>
                    <mat-nav-list dense>
                        <mat-expansion-panel [class.mat-elevation-z0]="true" dense
                            *appIsGranted="['LocationMaster', 'List']">
                            <mat-expansion-panel-header>
                                Location Master
                            </mat-expansion-panel-header>
                            <mat-nav-list dense>
                                <a mat-list-item routerLink="/district/districts">
                                    <mat-icon>list_alt</mat-icon>District
                                </a>
                                <a mat-list-item routerLink="/block/blocks">
                                    <mat-icon>list_alt</mat-icon>Block
                                </a>
                                <a mat-list-item routerLink="/taluk/taluks">
                                    <mat-icon>list_alt</mat-icon>Taluk
                                </a>
                                <a mat-list-item routerLink="/panchayat/panchayats">
                                    <mat-icon>list_alt</mat-icon>Panchayat
                                </a>
                                <a mat-list-item routerLink="/jurisdiction">
                                    <mat-icon>list_alt</mat-icon>Jurisdiction
                                </a>
                                <a mat-list-item routerLink="/habitation">
                                    <mat-icon>list_alt</mat-icon>Habitation
                                </a>
                                <a mat-list-item routerLink="/urbanlocalbodies">
                                    <mat-icon>list_alt</mat-icon>Urbanlocalbodies
                                </a>
                            </mat-nav-list>
                        </mat-expansion-panel>
                        <mat-expansion-panel [class.mat-elevation-z0]="true" dense
                            *appIsGranted="['WaterBodyMaster', 'List']">
                            <mat-expansion-panel-header>
                                Waterbody Master
                            </mat-expansion-panel-header>
                            <mat-nav-list dense>
                                <a mat-list-item routerLink="/waterbodyavailability">
                                    <mat-icon>list_alt</mat-icon>Availability
                                </a>
                                <a mat-list-item routerLink="/waterbodyayacutnoncultivation">
                                    <mat-icon>list_alt</mat-icon>Ayacutnoncultivation
                                </a>
                                <a mat-list-item routerLink="/waterbodyboundarydroppoint">
                                    <mat-icon>list_alt</mat-icon>Boundary DropPoint
                                </a>
                                <a mat-list-item routerLink="/waterbodybundissue">
                                    <mat-icon>list_alt</mat-icon>Bund Issue
                                </a>
                                <a mat-list-item routerLink="/waterbodybarreltype">
                                    <mat-icon>list_alt</mat-icon>Barrel Type
                                </a>
                                <a mat-list-item routerLink="/waterbodybund">
                                    <mat-icon>list_alt</mat-icon>Bund Functionality
                                </a>
                                <a mat-list-item routerLink="/waterbodycondition">
                                    <mat-icon>list_alt</mat-icon>Conditions
                                </a>
                                <a mat-list-item routerLink="/waterbodycatchmenttype">
                                    <mat-icon>list_alt</mat-icon>Catchment Type
                                </a>
                                <a mat-list-item routerLink="/waterbodycropping">
                                    <mat-icon>list_alt</mat-icon>Cropping
                                </a>
                                <a mat-list-item routerLink="/waterbodycrosssection">
                                    <mat-icon>list_alt</mat-icon>Cross Section Type
                                </a>
                                <a mat-list-item routerLink="/waterbodyfamilydistributionland">
                                    <mat-icon>list_alt</mat-icon>Distribution Land
                                </a>
                                <a mat-list-item routerLink="/waterbodydepthsilllevel">
                                    <mat-icon>list_alt</mat-icon>Depth Sill Level
                                </a>
                                <a mat-list-item routerLink="/waterbodyexoticspecies">
                                    <mat-icon>list_alt</mat-icon>Exotic Species
                                </a>
                                <a mat-list-item routerLink="/waterbodyfamilynature">
                                    <mat-icon>list_alt</mat-icon>Family Nature
                                </a>
                                <a mat-list-item routerLink="/waterbodyfieldchanneltype">
                                    <mat-icon>list_alt</mat-icon>Field Channel Type
                                </a>
                                <a mat-list-item routerLink="/waterbodyfencecondition">
                                    <mat-icon>list_alt</mat-icon>Fence Condition
                                </a>

                                <a mat-list-item routerLink="/waterbodyfencetype">
                                    <mat-icon>list_alt</mat-icon>Fence Type
                                </a>
                                <a mat-list-item routerLink="/waterbodyghatcondition">
                                    <mat-icon>list_alt</mat-icon>Ghat Condition
                                </a>
                                <a mat-list-item routerLink="/waterbodyinlettype">
                                    <mat-icon>list_alt</mat-icon>Inlet Type
                                </a>
                                <a mat-list-item routerLink="/waterbodyinvestmentnature">
                                    <mat-icon>list_alt</mat-icon>Nature Investment
                                </a>
                                <a mat-list-item routerLink="/waterbodyownership">
                                    <mat-icon>list_alt</mat-icon>Ownership
                                </a>
                                <a mat-list-item routerLink="/waterbodyoutlettype">
                                    <mat-icon>list_alt</mat-icon>Outlet Type
                                </a>
                                <a mat-list-item routerLink="/waterbodyooranifunction">
                                    <mat-icon>list_alt</mat-icon>Oorani Function
                                </a>
                                <a mat-list-item routerLink="/waterbodymwlstone">
                                    <mat-icon>list_alt</mat-icon>MWL Stone
                                </a>
                                <a mat-list-item routerLink="/waterbodystonepitchingcondition">
                                    <mat-icon>list_alt</mat-icon>Pitching Condition
                                </a>
                                <a mat-list-item routerLink="/waterbodysource">
                                    <mat-icon>list_alt</mat-icon>Source
                                </a>
                                <a mat-list-item routerLink="/waterbodyspreadissue">
                                    <mat-icon>list_alt</mat-icon>Spread Issue
                                </a>
                                <a mat-list-item routerLink="/waterbodysluice">
                                    <mat-icon>list_alt</mat-icon>Sluice / Surplus Type
                                </a>
                                <a mat-list-item routerLink="/waterbodysurplusweir">
                                    <mat-icon>list_alt</mat-icon>Surplus Weirs
                                </a>
                                <a mat-list-item routerLink="/waterbodyslittrap">
                                    <mat-icon>list_alt</mat-icon>Slit Trap
                                </a>

                                <a mat-list-item routerLink="/waterbodystreamissue">
                                    <mat-icon>list_alt</mat-icon>Stream Issue
                                </a>
                                <a mat-list-item routerLink="/waterbodyshutter">
                                    <mat-icon>list_alt</mat-icon>Shutter
                                </a>
                                <a mat-list-item routerLink="/waterbodyshuttercondition">
                                    <mat-icon>list_alt</mat-icon>Shutter Condition
                                </a>
                                <a mat-list-item routerLink="/waterbodystonepitching">
                                    <mat-icon>list_alt</mat-icon>Stone Pitching
                                </a>

                                <a mat-list-item routerLink="/waterbodytype">
                                    <mat-icon>list_alt</mat-icon>Type
                                </a>
                                <a mat-list-item routerLink="/waterbodyirrigationtankfunction">
                                    <mat-icon>list_alt</mat-icon>Tank Function
                                </a>
                                <a mat-list-item routerLink="/waterbodytanktype">
                                    <mat-icon>list_alt</mat-icon>Tank Type
                                </a>
                                <a mat-list-item routerLink="/waterbodytankuniqueness">
                                    <mat-icon>list_alt</mat-icon>Tank Uniqueness
                                </a>
                                <a mat-list-item routerLink="/waterbodytempletanktype">
                                    <mat-icon>list_alt</mat-icon>Temple TankType
                                </a>
                                <a mat-list-item routerLink="/waterbodytankissue">
                                    <mat-icon>list_alt</mat-icon>Tank Issue
                                </a>

                            </mat-nav-list>
                        </mat-expansion-panel>

                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel [class.mat-elevation-z0]="true" dense *appIsGranted="['UserManagement', 'List']">
                    <mat-expansion-panel-header>
                        User Management
                    </mat-expansion-panel-header>
                    <mat-nav-list dense>
                        <a mat-list-item routerLink="/role/roles" *appIsGranted="['Role', 'List']">
                            <mat-icon>assignment_ind</mat-icon>Role
                        </a>
                        <a mat-list-item routerLink="/user/users" *appIsGranted="['User', 'List']">
                            <mat-icon>person</mat-icon>User
                        </a>
                    </mat-nav-list>

                </mat-expansion-panel>


                <mat-expansion-panel [class.mat-elevation-z0]="true" dense *appIsGranted="['Permission', 'List']">
                    <mat-expansion-panel-header>
                        Permission Management
                    </mat-expansion-panel-header>
                    <mat-nav-list dense>
                        <a mat-list-item routerLink="/waterbodyPermission">
                            <mat-icon>assignment_ind</mat-icon>Permissions
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
                    <mat-expansion-panel-header>
                        Waterbody Details
                    </mat-expansion-panel-header>
                    <mat-nav-list dense>
                        <!-- <a mat-list-item routerLink="/tank/tanks">
                                <mat-icon>panorama_vertical</mat-icon>Govt WaterBodies
                            </a> -->
                        <a mat-list-item routerLink="/waterbodyupload">
                            <mat-icon>panorama_vertical</mat-icon>Govt WaterBodies
                        </a>
                        <!-- <a mat-list-item routerLink="/questionresponse">
                                <mat-icon>panorama_vertical</mat-icon>Reviews
                        </a> -->
                        <a mat-list-item routerLink="/review">
                            <mat-icon>panorama_vertical</mat-icon>Reviews
                        </a>
                        <a mat-list-item routerLink="/review/approvedresponse">
                            <mat-icon>panorama_vertical</mat-icon>Approved Reviews
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel [class.mat-elevation-z0]="true" dense *appIsGranted="['Reports', 'List']">
                    <mat-expansion-panel-header>
                        Reports
                    </mat-expansion-panel-header>
                    <mat-nav-list dense>

                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-list-item routerLink="/admin/dashboard" *appIsGranted="['SettingManagement', 'List']">
                    <mat-icon>settings</mat-icon>
                    <span style="font-size:15px;font-weight: 400;font-family: Roboto, Helvetica Neue, sans-serif;">
                        Settings
                    </span>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet>

            </router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <mat-toolbar color="lime" class="footer-toolbar">
        Copyright @ {{ currentYear }} Jiovio Healthcare. All Rights Reserved.
        <span style="flex: 1 1 auto;"></span>
        <div>

        </div>
    </mat-toolbar>
</div>