/* header.component.css */
/* header.component.css */
.head .example-app-name {
  display: flex;
  align-items: center;
}

.head .example-app-name .logo {
  margin-right: 10px; /* Adjust spacing between the logo and the text */
  height: 30px; /* Adjust the height of the logo as needed */
}

.head .example-app-name .water-text {
  color: skyblue; /* Change this to any color you prefer */
  margin-right: 5px; /* Add space between "Water" and "DaMS" */
}



.mat-toolbar.mat-primary {
  background: #070f71;
  color: white;
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
#profile.avatar-open
{
  width: 42px;
  height: 40px;
  background-image: url('https://www.w3schools.com/howto/img_avatar.png');
  background-size: cover;
}

#profile.avatar-close
{
  width: 23px;
  height: 32px;
  background-image: url('https://www.w3schools.com/howto/img_avatar.png');
  background-size: cover;
}
.footer-toolbar, .footer-toolbar h1, .footer-toolbar h2, .footer-toolbar h3, .footer-toolbar h4, .footer-toolbar h5, .footer-toolbar h6 {
  font: 100 12px / 32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0;
}
.menucss {
font-family: Roboto, "Helvetica Neue", sans-serif;
font-size: 15px;
font-weight: 400;
}
