<div fxLayoutGap="5px" class="divBodyContainer">
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
        <ng-container>
            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
                <div fxFlex="50%" fxFlex.lt-md="100"><strong>Any legal issues pending in Court:</strong></div>
                <div fxFlex="50%" fxFlex.lt-md="100">{{legalIssueParameter?.legalIssue}}</div>
            </div>

            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
                <div fxFlex="50%" fxFlex.lt-md="100"><strong>GIST of legal issues:</strong></div>
                <div fxFlex="50%" fxFlex.lt-md="100">{{legalIssueParameter?.legalIssueGIST}}</div>
            </div>


        </ng-container>

    </div>

</div>
<ng-template #noContent>NA</ng-template>
