
.full-width {
    width: 100%;
  }
  
  .mat-card-header{
    /* background-color:gold ; */
    padding:5px ;
    font-size: 10px;
  }
  
  .mat-card-title{
    font-size: 10px;
  }
  .mat-card{
    padding:0 ;
    background-color:aliceblue;
  }
  
  .mat-card-content{
    padding:5px ;
  }

  