<div fxLayoutAlign="center center" fxFlexFill class="main-div alternative">
    <mat-card fxFlex="25">
      <mat-toolbar color="primary">WaterBody Admin Portal</mat-toolbar>
      <mat-card-header>
        <mat-card-title>
            Please enter your registered email id for receiving password reset link
        </mat-card-title>
      </mat-card-header>
      <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="forgetPasswordForm" (ngSubmit)="sendEmail()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Enter Email Id">
         
        </mat-form-field>

  
        <button mat-raised-button type="submit" class="mt-5" color="primary">Submit</button>
      </form>
  
    </mat-card>
  </div>