<div fxLayoutGap="5px" class="divBodyContainer">
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
        <ng-container>
            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
                <div fxFlex="50%" fxFlex.lt-md="100"><strong>No of dependent families:</strong></div>
                <div fxFlex="50%" fxFlex.lt-md="100">{{pottery?.noOfDependentFamilies}}</div>
            </div>

            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
                <div fxFlex="70%" fxFlex.lt-md="100"><strong>How many years of pottery  work is going on?:</strong></div>
                <div fxFlex="30%" fxFlex.lt-md="100">{{pottery?.yearsOfPotteryWork}}</div>
            </div>

         
        </ng-container>

    </div>

  
 
</div>
<ng-template #noContent>NA</ng-template>
