.container {
    padding: 20px;
}

.flexcontainer {
    margin: 15px;
}
.mat-column-question {
    flex: 0 0 40%;
}
.mat-column-status {
    flex: 0 0 10%;
}
.mat-column-details {
    flex: 0 0 10%;
}
.mat-column-update {
    flex: 0 0 10%;
}
.mat-column-delete {
    flex: 0 0 10%;
}
