<div fxLayoutGap="5px" class="divBodyContainer">
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
        <ng-container>
            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
                <div fxFlex="50%" fxFlex.lt-md="100"><strong>Nature of investment:</strong></div>
                <div fxFlex="50%" fxFlex.lt-md="100">{{lotus?.natureOfInvestment}}</div>
            </div>

            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
                <div fxFlex="50%" fxFlex.lt-md="100"><strong>Month of harvest of Lotus - Start:</strong></div>
                <div fxFlex="50%" fxFlex.lt-md="100">{{lotus?.monthOfHarvestLotusStart}}</div>
            </div>

            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
                <div fxFlex="50%" fxFlex.lt-md="100"><strong>Month of harvest of Lotus - End:</strong></div>
                <div fxFlex="50%" fxFlex.lt-md="100">{{lotus?.monthOfHarvestLotusEnd}}</div>
            </div>

        </ng-container>

    </div>

    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
        <ng-container>
            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
                <div fxFlex="50%" fxFlex.lt-md="100"><strong>Approx investment in Rupees:</strong></div>
                <div fxFlex="50%" fxFlex.lt-md="100">{{lotus?.investment}}</div>
            </div>

            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
                <div fxFlex="50%" fxFlex.lt-md="100"><strong>Approx return in Rupees:</strong></div>
                <div fxFlex="50%" fxFlex.lt-md="100">{{lotus?.return}}</div>
            </div>

            <div fxFlex="0 1 calc(33.3% - 32px)" fxLayout.lt-md="column">
                <div fxFlex="50%" fxFlex.lt-md="100"><strong>No of dependent families:</strong></div>
                <div fxFlex="50%" fxFlex.lt-md="100">{{lotus?.noOfDependentFamilies}}</div>
            </div>
        </ng-container>

    </div>
 
</div>
<ng-template #noContent>NA</ng-template>